html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4 {
  font-weight: 400;
}

.cta a {
  text-decoration: none;
  color: #fff;
}

.app {
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
footer {
  margin-top: auto;
}

.header-section {
  background: #f3f5f1;
  margin-right: 15px;
  padding: 15px;
  margin-bottom: 30px;
}
