html {
  scroll-behavior: smooth;
}

.cta a {
  text-decoration: none;
  color: #fff;
}

.app {
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
footer {
  margin-top: auto;
}
